{% extends 'base.html' %}
{% load static %}
{% block title%} HOME {% endblock title%}
{% block header %}
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Blog em Django</h1>
                    <span class="subheading">Resultado do curso de django</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post  in object_list %}
            <div class="post-preview">
                <a href="{{ post.get_absolute_url}}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.content|safe|truncatechars:"120" }} ..
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{post.author}}</a>
                    {{post.published}}</p>
            </div>
            <hr>


<!--
    <div class="post-entry">
        <h2><a href="{{ post.get_absolute_url}}">{{post.title}}</a></h2>
        <p>{{post.content}}</p>
    </div>
-->

{% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock content %}
