{% extends 'base.html' %}
{% block title%} HOME - Detalhes {% endblock title%}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--
    <div class="post-entry">
        <h2>{{custom.title}}</h2>
        <p>{{custom.content}}</p>
        <p>{{custom.published}}</p>
    </div> -->
    <div class="post-entry">
        <h2>{{object.title}}</h2>
        <p>{{object.content|safe}}</p>
        <p>{{object.published}}</p>
    </div>
    <a href="{{ object.get_absolute_url_update }}">Editar postagem</a>
    <a href="{% url 'post_delete' object.pk %}">Deletar postagem</a>
{% endblock content %}
