{% extends 'base.html' %}
{% block title%} HOME - Detalhes {% endblock title%}
{% block content %}
<div class="container justify-content-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h2>{{object.title}}</h2>
        </div>
        <div class="card-body">
            <div class="post-entry">
                <p>{{ object.content|safe }}</p>
                <p>{{ object.published }}</p>
            </div>
            <a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>
            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary">Editar postagem</a>
            <a href="{% url 'post_delete' object.pk %}" class="btn btn-danger">Deletar postagem</a>
        </div>
    </div>
</div>
{% endblock content %}
