{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock title %} </title>
</head>
<body>
<header>
    <div class="nav-left">
        <h1><a href="/">Blog - Home</a> </h1>
    </div>
    <div class="nav-right">
        <h3><a href="{% url 'post_new' %}" >+ Nova postagem</a></h3>
    </div>
</header>
<div>
    {% if user.is_authenticated %}
    <p>
        Olá {{user.username}}
        <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p>
        Você não esta logado.
        <a href="{% url 'login' %}"> Login </a>
    </p>
    {% endif %}
</div>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
<footer>
    &copy; 2020 Incolume.com.br
</footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
</body>
</html>